body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 2em;
    text-align: center;
}

#instrument-family-game {
    background: red;
}

#composer-nationality-game {
    background: blue;
}

#pieces-era-game {
    background: yellow;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0.3;
}

#choose-game-page {
    width: 100%;
}

.buttons-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

.img-wrapper {
    position: relative;
}

img {
    position: relative;
    height: 14em;
    width: 18em;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

img:hover {
    opacity: 0.3;
}

.img-caption {
    position: relative;
    top: -9em;
    left: 4em;
    cursor: pointer;
}

.button-title {
    position: relative;
}

