html, body, div, h1 {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.hanging-style-1 {
    position: absolute;
    top: 110px;
    left: 40px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-2 {
    position: absolute;
    top: 150px;
    left: 385px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-3 {
    position: absolute;
    top: 150px;
    right: 375px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-4 {
    position: absolute;
    top: 110px;
    right: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-5 {
    position: absolute;
    top: 250px;
    left: 213px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-6 {
    position: absolute;
    top: 285px;
    left: 557px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}
.hanging-style-7 {
    position: absolute;
    top: 240px;
    right: 200px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}

.hanging-pic {
    position: relative;
    width: 5em;
    height: 5em;
    bottom: 4em;
}

.clip {
    height: 4em;
    width: 1em;
    background: #C59E6B;
    position: relative;
    top: -50px;
    margin: 0 auto;
    align-items: center;
    border-radius: 1px 1px 35% 35%;
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

.clip-wire {
    height: 0.2em;
    width: 1em;
    background: #2c2c2e;
}

body {
    background: #ffcdb2;
    display: flex;
    flex-direction: column;
}

.title {
    color: #e5989b;
    text-align: center;
    height: 3em;
    line-height: 3em;
    background: #f8f9fa;
}

.large-cards-area img {
    object-fit: cover;
    width: 9em;
    height: 9em;
}

.large-cards-area {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}

.card-border {
    background: #f8f9fa;
    border-radius: 0.5em;
    width: 10em;
    height: 13em;
}

.photo-area {
    background: grey;
    position: relative;
    width: 9em;
    height: 9em;
    left: 0.5em;
    top: 0.8em;
}


.image-slider {
    height: 6em;
    margin: 0 auto;
    margin-top: 0.5em;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 2em;
    padding-left: 2px;
    text-align: center;
}

.image-slider img {
    object-fit: cover;
    width: 5em;
    height: 5em;
    overflow: hidden;
    background: grey;
    position: relative;
    width: 5em;
    height: 5em;
    top: 0.5em;
}

.small-image-border {
    background: #f8f9fa;
    width: 6em;
    height: 6em;
    display: inline-block;
    margin: 2px;
}

.button-area {
    display: flex;
    height: 3em;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.button-wrapper {
    width: 50%;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar {
    width: 16em;
    text-align: center;
}

.photo-display-area {
    display: flex;
    justify-content: center;
}

.bg-img-wrapper {
    width: 65em;
    height: 35em;
    overflow: hidden;
}

#lights-background {
    width: 65em;
    height: 65em;
}

@media (max-width: 1267px) {
    .card-border {
        width: 8em;
        height: 10.4em;
    }
    .hanging-pic {
        width: 8em;
        height: 8em;
        bottom: 4em;
    }
    .photo-area {
        width: 7em;
        height: 7em;
    }
    .large-cards-area img {
        width: 7em;
        height: 7em;
    }
}

@media (max-width: 1225px) {
    .hanging-style-1 {
        top: 110px;
        left: 20px;
    }
    .hanging-style-2 {
        top: 150px;
        left: 355px;
    }
    .hanging-style-3 {
        top: 150px;
        right: 405px;
    }
    .hanging-style-4 {
        top: 110px;
        right: 70px;
    }
    .hanging-style-5 {
        top: 250px;
        left: 183px;
    }
    .hanging-style-6 {
        top: 285px;
        left: 527px;
    }
    .hanging-style-7 {
        top: 240px;
        right: 230px;
    }
}