html, body, div, h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    opacity: 100% !important;
}

body {
    font-family: "Mulish", sans-serif;
    background-color: #f1faee;
    color: #1d3557;
    margin: 0;
    padding: 0;
}

.title {
    height: 3em;
    line-height: 3em;
    font-size: 2rem;
}

.date {
    font-size: 1.5rem;
}

.right-wrapper {
    margin-left: 2em;
}

button {
    font-family: "Mulish", sans-serif;
    font-size: 1.1em;
    background-color: #457b9d;
    color: #f1faee;
    border-radius: 5px;
    border: 1px solid #1d3557;
}

button:hover {
    background-color: #f1faee;
    border: 1px solid #1d3557;
    color: #457b9d;
}

input {
    font-family: "Mulish", sans-serif;
    color: #1d3557;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.background {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.check-background {
    background-image: url("img/check-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* styles for the form */

.form-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    justify-self: center;
}

.form-wrapper {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    justify-self: center;
}

.time-calc-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.response-box {
    text-align: center;
    margin: 5px;
    border: 1px solid #1d3557;
    border-radius: 2px;
    margin: 10px;
    font-size: 1.1em;
}

input[type=number] {
    width: 3em;
    height: 2em;
    text-align: center;
    align-self: center;
    margin: 5px;
}

.number-input-wrapper {
    display: flex;
    justify-content: center;
}

#randomize-order-label {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#randomize-order-box {
    align-self: center;
    height: 3em;
    width: 3em;
    border-radius: 100%;
}

#show-chart-button {
    width: 90%;
    height: 4em;
    margin-top: 1.2em;
    align-self: center;
}

@media (max-width: 870px) {
    .form-wrapper {
        flex-direction: column;
    }
    .right-wrapper {
        margin-top: 15px;
    }
}


/* styles for the chart */

.chart-content-wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    align-self: center;
}

#show-form-button {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.5em;
    color: #f1faee;
    width: 6em;
}

#show-form-button:hover {
    background-color: #f1faee;
    border: 1px solid #1d3557;
    color: #457b9d;
}

.no-border {
    border: none;
}

table, th, td {
    border: 1px solid #1d3557;
    border-spacing: 5px;
    margin: 0;
    border-radius: 3px;
  }

  td {
      width: 2em;
      height: 2em;
  }

table {
    border-spacing: 0.3em;
    align-self: center;
    width: 95%;
    border: none;
}

.pieces-list {
    width: 30%;
    padding: 7px;
}

.pieces-list, .empty-space {
    background: white;
}

.empty-space {
    height: 3em;
    width: 8em;
}

.fa-check {
    color: #1d3557;
    font-size: 2.5em;
    opacity: 0;
    line-height: 3em;
}

.fa-check:hover {
    opacity: 0.8;
}

.warm-up {
    height: 2em;
}

.skills-practiced {
    line-height: 0.3em;
}

#practice-notes {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    width: 82%;
    height: 10em;
    resize: none;
    font-family: "Mulish", sans-serif;
    font-size: 0.9em;
    color: #1d3557;
    border: 1px solid #1d3557;
    border-radius: 3px;
}

.practice-notes-label {
    text-align: center;
    display: block;
    margin-top: 2em;
}

.practice-notes-wrapper {
    justify-content: center;
    text-align: center;
    width: 100vw;
}

#print-button {
    width: 2.5em;
    height: 2.5em;
}

.print-button-wrapper {
    display: flex;
    align-self: flex-end;
    margin-top: 2em;
}

@media print
{    
    * {
        -webkit-print-color-adjust: exact;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .background {
        width: 100%;
    }

    .chart-content-wrapper {
        width: 90vw;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }

    table {
        width: 95%;
    }

    .practice-notes-wrapper {
        width: 90%;
        margin-right: 1.8em;
    }

    #practice-notes {
        width: 100%;
    }

    #print-button {
        margin-right: 2em;
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .background {
        margin: 5px;
        padding: 0;
    }
    .chart-content-wrapper {
        font-size: 0.7rem;
    }

    #print-button {
        font-size: 0.7em;
    }

    table {
        width: 98%;
        min-width: 315px;
    }
}

